<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Coming to Raleigh, NC in 2025</h2>
                <hr class="light">
                <p class="text-faded">We're working hard to become your new favorite destination for savory pies and inventive pizzas.  Look for us soon at one of your favorite hangouts!</p>
                <a href="#contact" class="btn btn-default btn-xl">See you soon!</a>
            </div>
        </div>
    </div>
</section>
